<form action="/adding_measures" method="post">
  <div class="field">
    <label class="label">Weight</label>
    <div class="column is-two-fifths">
      <div class="control">
        <input
          class="input"
          type="number"
          min="1.50"
          step="0.01"
          max="200.00"
          placeholder="0.00 Kg min 1.50"
          name="weight"
          <% while !(@current_user.measures.empty?) do %>
            <% if (Time.now.strftime('%m/%d/%Y') == @current_user.measures.first.date.to_s) %>
            value =<%= @current_user.measures.first.weight.to_s + " disabled" %>
            <%end%>
		      <%end%>
          style="cursor :default"
          required
        />
      </div>
    </div>
  </div>
  <div class="field">
    <label class="label">Height</label>
    <div class="column is-two-fifths">
      <div class="control">
        <input
          class="input"
          type="number"
          min="0.30"
          step="0.01"
          max="200.00"
          placeholder="0.00 Meters min 0.30"
          name="height"
          <% while !(@current_user.measures.empty?) do %>
            <% if (Time.now.strftime('%m/%d/%Y') == @current_user.measures.first.date.to_s) %>
            value =<%= @current_user.measures.first.height.to_s + " disabled" %>
            <%end%>
		      <%end%>
          style="cursor :default"
          required
        />
      </div>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button 
      class="button is-link" 
      type="submit" 
      value="guardar"
      <% while !(@current_user.measures.empty?) do %>
        <%= "disabled" if (Time.now.strftime('%m/%d/%Y') == @current_user.measures.first.date.to_s) %>
      <%end%>
      style="cursor :default"
      >Submit
      </button>
    </div>
    <div class="control">
      <button 
      class="button is-text" 
      type="reset" 
      value="limpiar"
      >Clear</button>
    </div>
  </div>
</form>
