<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Weight Tracker App
      </h1>
      <h2 class="subtitle">
        <%= @title %>
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <a class="button medium" href="/admin">last week</a>
  <a class="button medium" href="/admin?need=month">last month</a>
  <a href="/admin?need=download" class="button is-info medium" style="float: right;">CSV Export</a>
  <span style="clear:both"></span>
</div>

<table class="table is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th><abbr title="number">#</abbr></th>
      <th>User</th>
      <th>Registered Days</th>
    </tr>
  </thead>
  <tbody>
    <% @data.each_with_index do |user, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user[:name] %></td>
      <td><%= user[:days] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
