<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Weight Tracker App</title>
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <!-- Bulma Version 0.7.4-->
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.7.4/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%= erb :'partials/nav' %>
    <section class="section <%= defined?(hero) ? 'hero is-success' : '' %> " id="content">
      <div class="container">
        <%= erb :'partials/message' %>
        <%= yield %>
      </div>
    </section>
    <script src="/js/main.js"></script>
  </body>
</html>
