<div class="column is-4 is-offset-4 has-text-centered">
  <h3 class="title has-text-grey">Login</h3>
  <div class="box">
    <figure class="avatar">
      <img src="https://i.imgur.com/e8bXsOJ.png" width="128" />
    </figure>
    <form method="POST" action="/login">
      <div class="field">
        <div class="control">
          <input class="input" type="email" name="email" placeholder="Email" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input
            class="input"
            type="password"
            name="password"
            placeholder="Password"
          />
        </div>
      </div>

      <button class="button is-block is-info is-fullwidth">
        Login
      </button>
    </form>
  </div>
  <p class="has-text-grey">
    <a href="/register">Register</a>
  </p>
</div>
